*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #fffbf7 ;
    display: block;
}
h1{
    color: #025157;
    font-family: "Alegreya", serif;
    font-size: 60px;
    margin-bottom: 24px;
}
h3{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
}
.abajotitulo {
    color: #46484c;
    font-family: "Slabo 27px", serif;
    font-size: 20px;
    margin-bottom: 30px;
}
.promocional {
   color: red;

}
form {
    height: 55px;
  }
  
  input,
  button {
    height: 100%;
    border-radius: 6px;
  }
  
  input {
    border: 1px solid #b6b6b6;
    padding: 6px 20px;
    width: 60%;
    max-width: 250px;
  }
  
  button {
    background-color: #025157;
    color: #fff;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 6px 20px;
    margin-left: -10px;
  }


nav ul {
    list-style:none;
    margin:0;
    padding:0;
}
nav ul li {
    padding: 1rem;
}
nav ul li:hover {
    background-color: #5e606b;
}
nav ul a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}


.contenedor-flex{ /* Contenedor padre donde desplegamos flexbox */
    display: flex;/* Desplegamos flexbox  */
    flex-direction: row;/* La direccion de los elementos va a ser en una fila */
    justify-content: space-between;/* con este comando ponemos un elemento despues de otro */
    position: fixed;
    top: 5px;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: white;
}

.letras-nav{ /* Primer Elemento de Flexbox */
    text-align: center; /* Alineamos al centro todo el texto de los elementos dentro de esta clase  */
    font-family: "Open Sans", sans-serif;/* Le damos estilo al texto dentro de la clase */
    align-self: center;/* alineamos verticalmente el contenido de la clase */
    flex:2 0 auto; /* asignamos el tamaño del contenido en 2 espacion con un shrink de 0 y un tamaño automatico */
}
.letras-nav ul li{ /* agregamos mayor especificidad y formato a los elementos en este caso a una lista hacerla horizontal*/
    display: inline; /* con este comando hacemos que los elementos de una lista se muestren de manera horizontal  */
}

.form-sign{/* Clase que se refiere al formulario superior que se encuentra en la nav bar */
    text-align: right;/* alineamos el texto a la derecha para que concuerde con la alineacion del boton */
    font-weight: 1000;/*  especifica el grosor del texto*/
    font-size: 16px;/* Especifica el tamaño del texto */
    color: #67b54b;
    padding-right: 20px;/* agregando un espacio entre la barra de navegacion para facilitar el manejo */
}
.form-sign button{/* clase con la especificidad para modificar el boton del formulario */
    color: white; /* color del texto */
    font-weight:700;/* grueso del texto */
    font-size: 16px;/* tamaño de la fuente */
    background-color: #67b54b;/* el color del boton */
    padding-left: 14px;  /* DEFINIENDO EL TAMAÑO Y CONFIGURACION DEL BOTON */    
    padding-right: 14px;/* DEFINIENDO EL TAMAÑO Y CONFIGURACION DEL BOTON */
    padding-top: 12px;/* DEFINIENDO EL TAMAÑO Y CONFIGURACION DEL BOTON */
    padding-bottom: 12px;/* DEFINIENDO EL TAMAÑO Y CONFIGURACION DEL BOTON */
    border: 0; /* dejando el boton sin borde */
    border-radius: 5px;/* le damos un redondel al boton */
    margin-left: 10px;/* damos un espacio para ajustarlo con el texto de la izquierda */
}
.logo-nav{ /* otro elemento la clase donde se encuentra la imagen del logo superior de la navbar */
    align-self: center;/* la ajustamos verticalmente para que coincida con los demas elementos */
}

.contenedor2{
    margin-top: 285px;
    text-align: center;
}

.figure{
    display: block;
}
.promocional{
    margin-top: 13px;
}

.logo-matcha img{
    width: 70%;
    margin-top: 33px;
}

/* PARTE 3 DE LA PAGINA LOS VIDEOS E INFORMACION */

.video{
    display: flex;
    max-width: 70%;
    margin: 100px auto;
    align-items: center;
    /* align-content: space-between; */
}
video{
    object-fit: contain;
}
.explicacion-video{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 20px;
}
.explicacion-video img{
    width: 120px;
    margin-top: 10px;
}
article{
    display: block;
}
.publish{
    flex: 1;
    flex-grow: 2;
}
.publish h3{
    font-family: "Alegreya", serif ;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
    font-weight:  900;;
}
.informacion{
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
}
p{
    color: #8b8b8bcc; 
    margin-top: 15px;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

